/* ============================= */
/*           FONTS               */
/* ============================= */
.righteous-regular {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.unica-one-regular {
    font-family: "Unica One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.onest-regular {
    font-family: "Onest", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* ============================= */
/*           EVERYWHERE          */
/* ============================= */
html, body {
    height: 100%;
    width: 100%;
    background-color: #FDF0D5;
    font-family: "Onest", sans-serif;
}

header {
    font-family: "Unica One", sans-serif;
}

main {
    margin: 10px;
}

/* ====================================================== */
/*                      NAV BAR                           */
/* ====================================================== */
.navbar {
    background-color: #A288E3;
    overflow: hidden;
    border-radius: 10px;
}
    .navbar a {
        float: left;
        color: #FDF0D5;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    
    .navbar a:hover {
        background-color: #331832;
        color: white;
    }
    
    .navbar a.active {
        background-color: #331832;
        color: white;
    }

/* ====================================================== */
/*                      HOME                              */
/* ====================================================== */

/* ====================================================== */
/*                      PROJECTS                          */
/* ====================================================== */

.cover-img {
    height: 300px;
    width: 300px;
    border-radius: 8px;
}

.project-description {
    align-items: center;
}

.pdf {
    width: 700px;
}

/* ====================================================== */
/*                      PHOTOGRAPHY                       */
/* ====================================================== */


/* ====================================================== */
/*                      ABOUT                             */
/* ====================================================== */
.about-content img {
    height: 300px;
    border-radius: 20px;
}

/* ====================================================== */
/*                      CONTACT                           */
/* ====================================================== */


/* ====================================================== */
/*                      FOOTER                            */
/* ====================================================== */
.footer {
    position: relative;
    height: 60px;
    padding: 20px;
    background-color: #331832;
    color: #C6D8D3;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
    .footer a {
        color: #FDF0D5;
    }
    .footer a:hover {
        color: white;
    }
    .footer img {
        width: 50px;
        height: 50px;
    }
    .footer-img {
        float: right;
    }
    .footer-pages {
        float: left;
    }
